#intro{
 	text-align:center;
  font-weight: bold;
  font-family:"Courier", monospace;
  font-size:1.8em;

}
#intro-heading{

  font-family: "Verdana";
}
h2{
  font-family:sans-serif;
}
body{
  font-family:sans-serif;
}
